.entry-table {
    font-size: 12px;
}
table td input.is-dirty,table td select.is-dirty {
    font-weight: bold;
}
table td input.is-invalid,table td select.is-invalid {
    border: 1px solid #FF0000;
}
table th.is-tool i,table td.is-tool i { cursor: pointer; }